<mat-nav-list>
    <div class="logo py-4">
        <img src="assets/logo.png" alt="">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader class="mt-2">PVIntake</h2>

    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active"> 
        <mat-icon>home</mat-icon>Home
    </a>

    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active"> 
        <mat-icon>dashboard</mat-icon>Dashboard
    </a>

    <a mat-list-item  routerLink="/usermanagement"  routerLinkActive="list-item-active"> 
        <mat-icon>manage_accounts</mat-icon>User Management
    </a>

    <a mat-list-item  routerLink="/casemanagement" routerLinkActive="list-item-active"> 
        <mat-icon>cases</mat-icon>Case Management
    </a>

    <a mat-list-item  routerLink="/bulkupload" routerLinkActive="list-item-active"> 
        <mat-icon>drive_folder_upload</mat-icon>Bulk Upload
    </a>

    <a mat-list-item  routerLinkActive="list-item-active"> 
        <mat-icon>admin_panel_settings</mat-icon>Console
    </a>
    <a mat-list-item  routerLink="/questionnaire" routerLinkActive="list-item-active"> 
        <mat-icon>dynamic_form</mat-icon>Questionnaire
    </a>

</mat-nav-list>