<div class="container-fluid page">
<div class="shadow p-3 position-relative">
  <div fxLayout="column" fxLayoutAlign="center">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

      <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="space-around">
        <mat-form-field appearance="fill">
          <mat-label for="firstname">First Name</mat-label>
          <input matInput type="text" id="firstname" name="firstname" formControlName="firstname">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label for="lastname">Last Name</mat-label>
          <input matInput type="text" id="lastname" name="lastname" formControlName="lastname">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label for="email">Email</mat-label>
          <input matInput type="text" id="email" name="email" formControlName="email">
        </mat-form-field>
      </div>

      <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="space-around">
        <mat-form-field appearance="fill">
          <mat-label for="userStatus">User Status</mat-label>
          <mat-select [(value)]="selected">
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label for="vendorName">Vendor Name</mat-label>
          <mat-select [(value)]="selected">
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label for="userRoles">User Roles</mat-label>
          <mat-select multiple>
            <mat-option *ngFor="let roles of userRolesList" [value]="roles">{{roles}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
        <mat-form-field appearance="fill">
          <mat-label for="fromDate">From Date</mat-label>
          <input matInput [matDatepicker]="fromDate">
          <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
          <mat-datepicker #fromDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label for="fromDate">To Date</mat-label>
          <input matInput [matDatepicker]="toDate">
          <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
          <mat-datepicker #toDate></mat-datepicker>
        </mat-form-field>

      </div>
      <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="center">

        <button mat-raised-button>Submit</button>
        <button mat-raised-button>Reset</button>
        <button mat-raised-button>Create User</button>
      </div>

    </form>
  </div>
  <div class=" p-3 position-relative">
    <table mat-table [dataSource]="dataSource" class="dashboardTable mat-elevation-z8">


      <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index" matColumnDef="{{disCol}}">
        <mat-header-cell *matHeaderCellDef>{{disCol}}</mat-header-cell>
        <mat-cell *matCellDef="let element "> {{element[disCol]}}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
    </div>
  </div>
</div>
